@charset "utf-8";
/*
@font-face {
    font-family: 'education_vagrounded_light';
    src: url('educationvagrounded-light-webfont.eot');
    src: url('educationvagrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('educationvagrounded-light-webfont.woff') format('woff')
         url('educationvagrounded-light-webfont.ttf') format('truetype'),
         url('educationvagrounded-light-webfont.svg#education_vagroundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

html{
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "黑体", Arial;
    color: #3f3f3f;
    background-color: #ea0029;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    border: none;
    font-size: 30px;
    font-family: "黑体", Arial;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    width: 100%;
}

.global-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ea0029;
    z-index: 99;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
.global-mask span {
    opacity: 0.5;
}

.loading-info {
    position: relative;
    text-align: center;
    top: 45%;
}

.footer {
    padding: 0.875em;
    min-height: 5em;
    background-color: #3a3a3a;
    width: 100%;
    position: relative;
    z-index: 12;
    /*
    position: absolute;
    left: 0;
    bottom: 0;
    */
}
.footer img {
    width: 100%;
}

.footer-inner {
    width: 100%;
    max-width: 1058px;
    margin: 0 auto;
}

.footer-image-wrapper {
    width: 18%;
    float: left;
}

.footer-image-wrapper-h {
    width: 27%;
    float: left;
}


.footer-text-1 {
    width: 3.40625em;
    max-width: 218px;
    min-width: 76px;
    margin: 0 auto;
}

.footer-text-2 {
    width: 1.796875em;
    max-width: 115px;
    min-width: 41px;
    margin: 0 auto;
}

.footer-text-3 {
    width: 2.296875em;
    max-width: 147px;
    min-width: 52px;
    margin: 0 auto;
}

.footer-text-4 {
    width: 2.296875em;
    max-width: 147px;
    min-width: 52px;
    margin: 0 auto;
}

.footer-text-5 {
    width: 1.8125em;
    max-width: 116px;
    min-width: 41px;
    margin: 0 auto;
}

.footer-text-left {
    float: left;
    margin-right: 0.75em;
}

.footer-text-right {
    float: right;
    margin-left:;
}

/*.menu {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 30;
}*/
.menu {
    position: fixed;
    left: 1.25em;
    top: 0;
    z-index: 20;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
}

.menu-title {
    background-color: #ea0029;
    padding: 0.625em;
}
.menu-title img {
    width: 2.125em;
    min-width: 60px;
}

.menu-icon {
    background-color: #fff;
    padding: 0.625em;
    text-align: center;
}
.menu-icon img {
    width: 0.984375em;
    min-width: 30px;
}

@media screen and (max-width: 640px) {

    .menu {
        left: 0;
    }

}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0.625em;
    transform: translate(-100%,0);
    transition: transform 0.3s;
    z-index: 20;
}
.menu-slider {
    width: 5.03125em;
    height: 12em;
    min-height: 400px;
    min-width: 250px;
    background-color: #fff;
}
.menu-slider img {
    width: 5.03125em;
    min-width: 250px;
}
.menu-slider-image {
    position: relative;
}
.menu-slider-home {
    position: absolute;
    top: 0%;
    left: 0;
    height: 25%;
    width: 100%;
    background: red;
    opacity: 0.5;
}
.menu-slider-yuli {
    position: absolute;
    top: 25%;
    left: 0;
    height: 25%;
    width: 100%;
    background: green;
    opacity: 0.5;
}
.menu-slider-hotpot {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25%;
    width: 100%;
    background: yellow;
    opacity: 0.5;
}
.menu-slider-specialty {
    position: absolute;
    top: 75%;
    left: 0;
    height: 25%;
    width: 100%;
    background: blue;
    opacity: 0.5;
}

.menu-slider-left-ani {
    transform: translate(0,0);
    -webkit-transform: translate(,0);
    transition: transform 0.3s ease-in;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -ms-transition: -ms-transform 0.3s ease-in;
}
/*
.menu-ani {
    transform: translate(1em,0);
    -webkit-transform: translate(1em,0);
    transition: transform 0.3s ease-in;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -ms-transition: -ms-transform 0.3s ease-in;
}
*/

@media screen and (max-width: 640px) {

    .menu-slider {
        width: 10.03125em;
        height: 20em;
        background-color: #fff;
    }
    /*
    .menu-ani {
        transform: translate(19.09575em,0);
        -webkit-transform: translate(19.09575em,0);
        transition: transform 0.3s ease-in;
        -webkit-transition: -webkit-transform 0.3s ease-in;
        -ms-transition: -ms-transform 0.3s ease-in;
    }
    */

}
