
.container {
    width: 100%;
    position: relative;
}

.container-1 {
    height: 2133px;
    background-color: #fefefe;
    overflow: hidden;
    position: fixed;
    transition: top 0s linear;
}

.bg-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0s linear;
}
.bg-1 img {
    
}
.container-2 {
    height: 1700px;
    background-color: #ea0029;
    box-sizing: content-box;
    transition: background-color 1s;
    position: fixed;
    z-index: 1;
    transition: top 0s linear;
}

.container2-inner {
    width: 50%;
    position: fixed;
    transition: top 0s linear;
}

.container2-titles {
    position: absolute;
    top: 30px;
    left: 80px;
}

.container2-mask-1 {
    position: absolute;
    background-color: #ea0029;
    width: 100%;
    left: 100%;
    top: 0;
    height: 10000px;
    transition: left 0s linear;
}

.container2-mask-2 {
    position: absolute;
    background-color: #ea0029;
    width: 100%;
    bottom: -200px;
    left: 0;
    height: 200px;
    transition: bottom 0s linear;
}

.bg2-title-1 {
    position: fixed;
    top: 100%;
    z-index: 1;
    width: 26.1875em;
    min-width: 314px;
}
.bg2-title-1-long-ani {
    transition: top 1s ;
}
.bg2-title-1-short-ani {
    transition: top 0s linear ;
}

.bg2-title-1-placeholder {
    position: relative;
    width: 24.1875em;
    min-width: 291px;
    opacity: 0;
}

.bg2-title-2 {
    margin-top: 7em;
}

.container2-texts {
    width: 100%;
}
.container2-texts img:last-child {
    margin-left: 0.75em;
}
.container-2 img {
    vertical-align: top;
    width: 100%;
}

.container2-right {
    float: right;
}

.bg2-text {
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
    transition: top 0.5s, opacity 1s;
}
.bg2-text>div {
    float: left;
    margin-right: 24px;
}

.bg2-text-2 {
    left: 5em;
}

.bg2-title-text {
    position: absolute;
    width: 9.25em;
    min-width: 111px;
    left: 0;
    top: 0;
}
.bg2-text-mask {
   position: absolute; 
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
}
.bg2-text-mask-red {
    background: #b40020;
}
.square-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.125em;
    min-width: 218px;
    height: 13em;
    min-height: 156px;
}

.title-text {
    font-size: 50px;
    padding: 30px;
}

.line-top {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0;
}
.line-right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 0;
}
.line-left {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 0;
}
.line-color-white {
    background: #ffffff;
}
.line-color-yellow {
    background: #cda886;
}
.line-top-reverse {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 0;
}

.line-right-reverse {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    height: 0px;
}
.line-left-reverse {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 0;
}
.line-bottom-70 {
    position: absolute;
    z-index: 1;
    right: 40%;
    bottom: 0;
    width: 0;
}
.line-bottom-100 {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 0;
}
.width-large {
    width: 0.625em;
    min-width: 6px;
}
.height-large {
    height: 0.625em;
    min-height: 6px;
}
.width-middle {
    width: 0.4375em;
    min-width: 5px;
}
.height-middle {
    height: 0.4375em;
    min-height: 5px;
}
.bottom-text {
    position: absolute;
    height: 2em;
    width: 291px;
    left: 155px;
    top: 178px;
    font-size: 54px;
    font-weight: bold;
    color: #fff;
}
.bottom-num {
    font-size: 100px;
    height: 100px;

}
.bg2-title-2 {
    position: relative;
    width: 16em;
    min-width: 192px;
    height: 5.9375em;
    min-height: 71px;
}
.image-mask {
    position: absolute;
    width: 120px;
    height: 0px;
    top: 0;
    left: 0;
}
.square-container-1 {
    width: 6em;
    max-width: 96px;
    min-width: 48px;
    height: 6em;
    max-width: 96px;
    min-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
}
.square-container-yellow {
    background-color: #f2e9e0;
}
.trangle-container {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 1em;
    height: 1em;
    min-width: 10px;
    min-height: 10px;
    opacity: 0;
}
.trangle-container img {
    height: 100%;
    width: 100%;
}

.line-top-animate {
    transition: width 0.4s ease-in 0.6s;
    width: 100%;
}
.line-bottom-animate {
    transition: width 0.3s ease-in;
    width: 60%;
}
.line-right-animate {
    transition: height 0.3s ease-in 1s;
    height: 100%;
}
.line-left-animate {
    transition: height 0.3s ease-in 0.3s;
    height: 100%;
}
.line-left-animate-1 {
    transition: height 0.2s ease-out 1.3s;
    height: 100%;
}
.line-top-animate-1{
    transition: width 0.2s ease-out 1.2s;
    width: 100%;
}
.line-right-animate-1 {
    transition: height 0.2s ease-out 1.7s;
    height: 100%;
}
.line-bottom-animate-1 {
    transition: width 0.2s ease-out 1.5s;
    width: 100%;
}

.bg2-image-1 {
    width: 13.9375em;
    min-width: 168px;
}
.bg2-image-2 {
    width: 10.3125em;
    min-width: 123px;
}
.bg2-image-3 {
    width: 10.6875em;
    min-width: 128px;
}
.bg2-des-1 {
    width: 16.1875em;
    min-width: 195px;
}
.bg2-des-2 {
    width: 17.1875em;
    min-width: 205px;
}
.bg2-des-3 {
    width: 20.1255em;
    min-width: 241px;
}

.container-3 {
    height: 2000px;
    background-color: #ea0029;
    position: fixed;
    top: -5px;
    z-index: 2;
    transition: top 0s linear;
}
.container-3 img {
    width: 100%;
}

.bg3-title-1 {
    width: 70%;
    max-width: 745px;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    position: fixed;
    transition: top 0s linear;
}

.bg3-title-2 {
    width: 70%;
    max-width: 552px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 30%;
    transition: top 0s linear;
}
.bg3-title-mask {
    position: absolute;
    height: 100%;
    width: 45em;
    top: 0;
    right: 0;
    background-color: blue;
}
.bg3-title-2-placeholder {
    width: 70%;
    max-width: 552px;
    text-align: center;
    position: relative;
    top: 0;
    margin: 0 auto;
}

.bg3-image {
    width: 95%;
    left: 2.5%;
    top: 95%;
    position: fixed;
    transform: scale(0.2, 0.2);
    transition: transform 1s linear, top 0s linear;
}


.container-4 {
    height: 1000px;
    background-color: #d4a781;
    position: fixed;
    top: -5px;
    z-index: 10;
    transition: top 0s linear;
}
.container-4 img {
    width: 100%;
}

.container4-inner {
    width: 90%;
    max-width: 1200px;
    min-width: 320px;
   /* height: 53em;*/
    position: fixed;
    overflow: hidden;
    transition: top 0s linear;
}

.bg4-bg {
    background-color: #fff;
    height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.bg4-titles {
    padding: 5em 7.5em;
    position: relative;
    overflow: hidden;
}

.bg4-title-1 {
    width: 14.6875em;
    max-width: 235px;
    min-width: 118px;
    text-align: center;
    overflow: hidden;
    margin-left: 10em;
    margin-top: 5em;
    margin-bottom: 7.25em;
    float: left;
}

.bg4-title-2 {
    width: 16.375em;
    height: 6em;
    max-width: 262px;
    min-width: 131px;
    max-height: 96px;
    min-height: 48px;
    position: relative;
    float: right;
    margin-top: 7em;
}

.bg4-image-container {
    width: 75em;
    max-width: 1008px;
    margin: 0 auto;
}

.bg4-image-1 {
    transform: translateY(50%);
}

.bg4-image-2 {
    transform: translateY(100%);
}

.bg4-image-3 {
    transform: translateY(120%);
}

.bg4-image-ani-1 {
    transform: translateY(0);
    transition: transform 0.5s ease-in 0.3s; 
}

.bg4-image-ani-2 {
    transform: translateY(0);
    transition: transform 0.5s ease-in 0.6s; 
}

.bg4-image-ani-3 {
    transform: translateY(0);
    transition: transform 0.5s ease-in 0.9s; 
}

.bg4-image-box {
    width: 25em;
    max-width: 336px;
    padding: 0 1.5em;
    float: left;
    position: relative;
}

.rect-1 {
    width: 65%;
    height: 37.1875em;
    background-color: #ea0029;
    position: fixed;
    right: 0;
    top: 100px;
    overflow: hidden;
    transition: right 0.2s linear;
    animation: rect-1-enter 0.8s;
    animation-fill-mode: forwards;
}
@keyframes rect-1-enter {
    from {transform: translateX(100%); -webkit-transform: translateX(100%); -ms-transform: translateX(100%); -mos-transform: translateX(100%);}
    to {transform: translateX(0); -webkit-transform: translateX(0); -ms-transform: translateX(0); -mos-transform: translateX(0);}
}

.title-1 {
    padding: 5em 5em;
    height: 100%;
    position: relative;
    top: 100%;
    transition: top 0.2s linear, left 0.2s linear;
}
.title-1 img {
    height: 100%;
    position: relative;
    animation: title-1-enter 0.8s ease 0.8s;
    animation-fill-mode: both;
}

@keyframes title-1-enter {
    from {top: 150%;}
    to {top: 0;}
}

.be-fixed {
    position: fixed;
    z-index: 0;
}

.menu {
    position: fixed;
    left: 10.25em;
    top: 0;
    z-index: 9;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.menu-title {
    background-color: #ea0029;
    padding: 2.5em;
}
.menu-title img {
    width: 8.5em;
}

.menu-icon {
    background-color: #fff;
    padding: 2.5em;
    text-align: center;
}
.menu-icon img {
    width: 3.9375em;
}
.trangle-scale-ani {
    animation: trangle-scale 0.3s ease-out 0.9s;
    animation-fill-mode: both;
}
.bg2-text-ani {
    transition: width 1s ease-in;
    width: 0px;
}
.bg3-title-ani {
    transition: width 1s ease-in;
    width: 0px;
}

@keyframes trangle-scale {
    0 {transform: scale(0.2); -webkit-transform: scale(0.2); -ms-transform: scale(0.2); -mos-transform: scale(0.2); opacity: 0;}
    50% {transform: scale(1.5); -webkit-transform: scale(1.5); -ms-transform: scale(1.5); -mos-transform: scale(1.5); opacity: 1;}
    100% {transform: scale(1); -webkit-transform: scale(1); -ms-transform: scale(1); -mos-transform: scale(1); opacity: 1;}
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px)  {
    .container2-inner {
        width: 820px;
    }
}

@media screen and (min-width: 1010px) and (max-width: 1280px)  {
    .container2-inner {
        width: 750px;
    }
}

@media screen and (max-width: 1009px)  {
    .container2-inner {
        width: 100%;
    }
    .container2-titles {
        left: 0;
        width: 320px;
        margin: 0 auto;
        position: relative;
    }
    .container2-texts {
        width: 60%;
        margin: 80px auto;
        float: none;
    }
    .container2-texts img:last-child {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .bg4-image-box {
        width: 75%;
        max-width: 336px;
        margin: 20px auto;
        float: none;
        position: relative;
    }
}

